.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:812px;
  min-width:200px;
  max-width:376px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.UI---Status-Bars{
  position:fixed;
  z-index:41;
  pointer-events:none;
  margin-left:auto;
  width:375px;
  min-width:200px;
  height:44px;
  min-height:44px;
  left:0px;
  right:0;
  top:0px;
  bottom:0;
  margin-right:auto;
  max-width:376px;
  background-color:rgba(255, 255, 255, 1);
}
.UI---Status-Bars-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.Wifi{
  position:relative;
  z-index:46;
  pointer-events:none;
  margin-left:316px;
  width:15.27px;
  min-width:15.27px;
  height:10.97px;
  margin-top:17px;
  margin-bottom:16.03px;
  min-height:10.97px;
  content:url(assets/images/Wifi.png);
}
.Wifi-outer{
  pointer-events:none;
  z-index:46;
  position:relative;
  display:flex;
}
.Battery{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:336px;
  width:24.33px;
  min-width:24.33px;
  height:11.33px;
  margin-top:-27px;
  margin-bottom:15.670000000000002px;
  min-height:11.33px;
}
.Battery-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.Rectangle{
  position:relative;
  z-index:45;
  pointer-events:none;
  margin-left:8.220304151253602%;
  width:73.98273736128242%;
  height:64.6954986760812%;
  margin-top:8.220304151253602%;
  content:url(assets/images/Rectangle.png);
}
.Rectangle-outer{
  pointer-events:none;
  z-index:45;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Combined-Shape{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:94.53349773941636%;
  width:5.466502260583642%;
  height:35.3045013239188%;
  margin-top:16.440608302507194%;
  content:url(assets/images/Combined_Shape.png);
}
.Combined-Shape-outer{
  pointer-events:none;
  z-index:44;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Rectangle-1{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:0%;
  width:90.42334566378962%;
  height:100%;
  margin-top:0%;
  content:url(assets/images/Rectangle_1.png);
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:43;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Mobile-Signal{
  position:relative;
  z-index:47;
  pointer-events:none;
  margin-left:294px;
  width:17px;
  min-width:17px;
  height:10.67px;
  margin-top:-26px;
  margin-bottom:15.329999999999998px;
  min-height:10.67px;
  content:url(assets/images/Mobile_Signal.png);
}
.Mobile-Signal-outer{
  pointer-events:none;
  z-index:47;
  position:relative;
  display:flex;
}
.Time-Style{
  position:relative;
  z-index:48;
  pointer-events:none;
  margin-left:5.6%;
  width:14.4%;
  height:47.72727272727273%;
  margin-top:3.2%;
}
.Time-Style-outer{
  pointer-events:none;
  z-index:48;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q9-41{
  position:relative;
  z-index:49;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:85.71428571428571%;
  margin-top:3.7037037037037037%;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(34, 50, 99, 1);
  font-style:normal;
  font-family:SF Pro Text;
  font-weight:400;
  font-size:15px;
  letter-spacing:-0.3000000357627869px;
  line-height:17px;
}
.q9-41-outer{
  pointer-events:none;
  z-index:49;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Group-491{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:138px;
  width:100px;
  min-width:100px;
  height:134px;
  margin-top:92px;
  margin-bottom:586px;
  min-height:134px;
}
.Group-491-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.rumah-4{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:0px;
  width:98px;
  min-width:98px;
  height:58px;
  margin-top:0px;
  margin-bottom:76px;
  min-height:58px;
  content:url(assets/images/rumah_4.png);
}
.rumah-4-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.ukm{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:0px;
  width:100px;
  min-width:100px;
  height:36px;
  margin-top:-76px;
  margin-bottom:40px;
  min-height:36px;
  content:url(assets/images/ukm.png);
}
.ukm-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.rumah-5{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:3px;
  width:94px;
  min-width:94px;
  height:39px;
  margin-top:-39px;
  margin-bottom:0px;
  min-height:39px;
  content:url(assets/images/rumah_5.png);
}
.rumah-5-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Sign-in-to-continue{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:127px;
  width:120px;
  min-width:120px;
  margin-top:-580px;
  margin-bottom:558px;
  min-height:22px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:224.99999403953552%;
}
.Sign-in-to-continue-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Email-Form{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:16px;
  width:343px;
  min-width:343px;
  height:48px;
  margin-top:-530px;
  margin-bottom:482px;
  min-height:48px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(235, 240, 255, 1);
  box-sizing:border-box;
  border-radius:5px;
  overflow:hidden;
}
.Email-Form-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.system-icon-24px-Mes{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:15px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:11px;
  margin-bottom:10px;
  min-height:24px;
  overflow:hidden;
}
.system-icon-24px-Mes-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Group-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:2px;
  width:20px;
  min-width:20px;
  height:15.5px;
  margin-top:4px;
  margin-bottom:4.5px;
  min-height:15.5px;
}
.Group-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Vector--Stroke--3{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:62.64516129032259%;
  margin-top:0%;
  content:url(assets/images/Vector__Stroke__3.png);
}
.Vector--Stroke--3-outer{
  pointer-events:none;
  z-index:8;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector--Stroke--4{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(assets/images/Vector__Stroke__4.png);
}
.Vector--Stroke--4-outer{
  pointer-events:none;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Your-Email{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:49px;
  width:277px;
  min-width:277px;
  margin-top:-36px;
  margin-bottom:11px;
  min-height:22px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:224.99999403953552%;
}
.Your-Email-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Password-Form{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:16px;
  width:343px;
  min-width:343px;
  height:48px;
  margin-top:-474px;
  margin-bottom:426px;
  min-height:48px;
  border:1px solid rgba(235, 240, 255, 1);
  box-sizing:border-box;
  border-radius:5px;
  overflow:hidden;
}
.Password-Form-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.system-icon-24px-Pas{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:15px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:11px;
  margin-bottom:10px;
  min-height:24px;
  overflow:hidden;
}
.system-icon-24px-Pas-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Group{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:2px;
  width:20px;
  min-width:20px;
  height:20px;
  margin-top:2px;
  margin-bottom:2px;
  min-height:20px;
}
.Group-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Vector--Stroke-{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:45%;
  width:10%;
  height:15.65%;
  margin-top:60%;
  content:url(assets/images/Vector__Stroke_.png);
}
.Vector--Stroke--outer{
  pointer-events:none;
  z-index:15;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector--Stroke--1{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:15%;
  width:66.25%;
  height:39.2%;
  margin-top:0%;
  content:url(assets/images/Vector__Stroke__1.png);
}
.Vector--Stroke--1-outer{
  pointer-events:none;
  z-index:14;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector--Stroke--2{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:66.25%;
  margin-top:35%;
  content:url(assets/images/Vector__Stroke__2.png);
}
.Vector--Stroke--2-outer{
  pointer-events:none;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Password{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:49px;
  width:277px;
  min-width:277px;
  margin-top:-36px;
  margin-bottom:11px;
  min-height:22px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:224.99999403953552%;
}
.Password-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Sign-In-Button{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:-1px;
  width:343px;
  height:57px;
  margin-top:-410px;
  margin-bottom:353px;
  min-height:57px;
  background-color:rgba(14, 104, 178, 1);
  filter:drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.23999999463558197));
  border-radius:5px;
  overflow:hidden;
}
.Sign-In-Button-outer{
  pointer-events:none;
  z-index:17;
  justify-content:center;
  position:relative;
  display:flex;
}
.Sign-In{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:16px;
  width:311px;
  min-width:311px;
  margin-top:16px;
  margin-bottom:16px;
  min-height:25px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.07px;
  line-height:224.99999403953552%;
}
.Sign-In-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Or-line{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:16px;
  width:343px;
  min-width:343px;
  height:21px;
  margin-top:-332px;
  margin-bottom:311px;
  min-height:21px;
}
.Or-line-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.OR{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:162px;
  width:21px;
  min-width:21px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:21px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.07px;
  line-height:187.5%;
}
.OR-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Line-38{
  position:relative;
  z-index:22;
  pointer-events:none;
  transform:rotate(0.000005008956130975318deg);
  margin-left:206px;
  width:137px;
  min-width:137px;
  margin-top:-11px;
  margin-bottom:11px;
  min-height:undefinedpx;
  border:1px solid rgba(235, 240, 255, 1);
}
.Line-38-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Line-37{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:0px;
  width:134px;
  min-width:134px;
  margin-top:-11px;
  margin-bottom:11px;
  min-height:undefinedpx;
  border:1px solid rgba(235, 240, 255, 1);
}
.Line-37-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Login-With-Google-Bu{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:16px;
  width:343px;
  min-width:343px;
  height:57px;
  margin-top:-295px;
  margin-bottom:238px;
  min-height:57px;
  filter:drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.23999999463558197));
  border:1px solid rgba(235, 240, 255, 1);
  box-sizing:border-box;
  border-radius:5px;
  overflow:hidden;
}
.Login-With-Google-Bu-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Login-with-Google{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:49px;
  width:277px;
  min-width:277px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:25px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.07px;
  line-height:224.99999403953552%;
}
.Login-with-Google-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Other-Icon-Google{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:15px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-41px;
  margin-bottom:14px;
  min-height:24px;
  overflow:hidden;
}
.Other-Icon-Google-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Group-121{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:4px;
  width:16px;
  min-width:16px;
  height:16px;
  margin-top:4px;
  margin-bottom:4px;
  min-height:16px;
}
.Group-121-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Vector-1{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:50%;
  width:50%;
  height:47.0625%;
  margin-top:37.5%;
  content:url(assets/images/Vector_1.png);
}
.Vector-1-outer{
  pointer-events:none;
  z-index:29;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-2{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:6.250000000000001%;
  width:78.06250000000001%;
  height:39.875%;
  margin-top:56.25000000000001%;
  content:url(assets/images/Vector_2.png);
}
.Vector-2-outer{
  pointer-events:none;
  z-index:28;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-3{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:6.249999999999998%;
  width:78.24999999999999%;
  height:38.75%;
  margin-top:0%;
  content:url(assets/images/Vector_3.png);
}
.Vector-3-outer{
  pointer-events:none;
  z-index:27;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-4{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(assets/images/Vector_4.png);
}
.Vector-4-outer{
  pointer-events:none;
  z-index:26;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Login-With-Facebook-{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:16px;
  width:343px;
  min-width:343px;
  height:57px;
  margin-top:-230px;
  margin-bottom:173px;
  min-height:57px;
  filter:drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.23999999463558197));
  border:1px solid rgba(235, 240, 255, 1);
  box-sizing:border-box;
  border-radius:5px;
  overflow:hidden;
}
.Login-With-Facebook--outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Login-with-facebook{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:49px;
  width:277px;
  min-width:277px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:25px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.07px;
  line-height:224.99999403953552%;
}
.Login-with-facebook-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.Other-Icon-Facebook{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:15px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-41px;
  margin-bottom:14px;
  min-height:24px;
  overflow:hidden;
}
.Other-Icon-Facebook-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:29.166666666666668%;
  width:45.833333333333336%;
  height:83.33333333333333%;
  margin-top:8.333333333333334%;
  content:url(assets/images/Vector.png);
}
.Vector-outer{
  pointer-events:none;
  z-index:33;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Forgot-Password-{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:129px;
  width:117px;
  min-width:117px;
  margin-top:-157px;
  margin-bottom:139px;
  min-height:18px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(14, 104, 178, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:187.5%;
}
.Forgot-Password--outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.Don-t-have-a-account{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:86px;
  width:203px;
  min-width:203px;
  margin-top:-131px;
  margin-bottom:113px;
  min-height:18px;
  text-align:center;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:;
  font-weight:400;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:187.5%;
}
.Don-t-have-a-account-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Don-t-have-a-account-1{
  color:rgba(144, 152, 177, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:187.5%;
}
.Don-t-have-a-account-2{
  color:rgba(14, 104, 178, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:12px;
  letter-spacing:0.06px;
  line-height:187.5%;
}
.UI---Home-Indicator{
  position:fixed;
  z-index:50;
  pointer-events:none;
  margin-left:auto;
  width:375px;
  min-width:200px;
  height:34px;
  min-height:34px;
  left:0px;
  right:0;
  top:778px;
  bottom:0;
  margin-right:auto;
  max-width:376px;
}
.UI---Home-Indicator-outer{
  pointer-events:none;
  z-index:50;
  position:relative;
  display:flex;
}
.Home-Indicator{
  position:relative;
  z-index:51;
  pointer-events:none;
  opacity:0.5;
  margin-left:1px;
  width:134px;
  height:5px;
  margin-top:21px;
  margin-bottom:8px;
  min-height:5px;
  background-color:rgba(209, 214, 232, 1);
  border:1px solid rgba(144, 152, 177, 1);
  border-radius:100px;
}
.Home-Indicator-outer{
  pointer-events:none;
  z-index:51;
  justify-content:center;
  position:relative;
  display:flex;
}
